body {
  font-family: arial;
}

.zoom-button {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background: silver;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
#zoom-info {
  display: inline-block;
  padding: 10px;
}
    

#mapslide {
    position: relative;
    width: 100%;
    text-align:center;
}

#eventtable {
    position: relative;
    width: 100%;
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
}

#slider {
    width: 80%;
    text-align:center;
    margin-left:auto; 
    margin-right:auto;
}

.row {
  display: flex; /* equal height of the children */
}

.col {
  flex: 1; /* additionally, equal width */
  
  padding: 1em;
  border: solid;
}

td.highlight {
    background-color: whitesmoke !important;
}

tr.highlight {
    background-color: whitesmoke !important;
}

